/*
Styling colors:
Peach Glow = FFB997
Cerulean = 006E90
Jungle Green = 5DA271
Vintage Berry 80475E
Pale Sky = B9D6F2
*/

body {
    background-color: #B9D6F2;
}


/* NAVBAR */

.navbar, .footer{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 25px;
    background:#5DA271;
    color:white;
    position:sticky;
    top:0;
}

.footer {
    text-align: center;
}

/* LOGO */
.logo{

    font-size:22px;
    font-weight:bold;
}

/* NAV LINKS */
.nav-links{
    display:flex;
    gap:30px;
    list-style:none;
    margin:0;
    padding:0;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.nav-links a:hover{
    color:#00bcd4;
}

/* HAMBURGER */
.hamburger{
    display:none;
    flex-direction:column;
    cursor:pointer;
}

.hamburger span{
    width:25px;
    height:3px;
    background:white;
    margin:4px;
    transition:0.3s;
}


/* MOBILE */
@media (max-width:768px){
    .hamburger{
        display:flex;
    }
    .nav-links{
        position:absolute;
        top:60px;
        right:0px;
        background:#5DA271;
        flex-direction:column;
        width:200px;
        padding:20px;
        gap:20px;
        transform:translateX(110%);
        transition:0.3s;
    }
    .nav-links.active{
        transform:translateX(0);
    }

}